.Div{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    margin: auto;
    position: relative;

height: 110vh;
margin: auto;
  text-align: center;
 background-color:rgb(184,182,192)
 ;
    z-index: 28;
    
    box-shadow: 11px 2vh 3vh 3vh rgba(0,0,0,0.7);
}
h1{
    margin: auto;
    text-align: center;
    color: black;
    font-size: 249%;
  
    z-index: 28;
    border-radius: 19vh;
    height: 63vh;
    padding: 18vh;
}
.outerDiv{
    width: 93%;
    height: 100%;
   
    padding: 4%;
    position: relative;
    background-color:rgb(34,29,59);
    text-align: center;
}
.para{
    position: relative;
    color: white;
    font-size: 130%;    
}
.Now{
    position: relative;
    font-size: 2.5vh;
    top: 0;
  color: white;
  
}
.Person{
    position: relative;
    
    font-size: 132%;
    
}
.Date{
    position: relative;
    left: -0%;
    
    
    font-size: 132%;
    
}
.Days{
    position: relative;
    left: -0%;
    
    
    font-size: 132%;
    
}
.Place{
    left: -0%;
    position: relative;  
    font-size: 132%;
}
.Person,.Place,.Date,.Days,.Input1,.Input2,.Input3,.Input4{
    padding: 1vh;
    margin: .8vh;
    
}
.Input1{
    
    position: relative;
    color:#57565b ;
    width: 69%;
    height: 4.5vh;
    border-radius: 4vh;
    background:#84838b;
}

.Input2,.Input3,.Input4{
    color:#57565b ;
    background: #84838b;
    position: relative;
    width: 69%;
    height: 4.5vh;
    border-radius: 4vh;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.divison{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}
.AddTrip{
    width: 51%;
    position: relative;
    
    height: 6vh;
    font-size: 3vh;
    
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Div2{
    display: none;
    position: relative;
    box-shadow: 11px 2vh 3vh 3vh rgba(0,0,0,0.7);
    border-radius: 19vh;
    margin: 0;
    width: 44%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 99vh;
}
@media (min-width:900px){
    
    .Div{
        
        margin: auto;
    width: 60%;
    height: 100vh;
    
}

.outerDiv{
    display: inline-flex;
    margin: auto;
    position: relative;
   
}

.para{
    left: 0;
}
.Input1,.Input2,.Input3,.Input4{
    width: 40%;
    border-radius: 0;
}
}