.header{
    background-color: sienna;
    width: 100%;
    height: 8vh;
    margin: 3px;
    box-shadow: sienna 9px 0px 3px;
    border-radius: 6px;
    text-align: center;

}
.menu{
    font-family: Georgia;
    font:bolder;
    float: right;
   margin: 8px;
    box-shadow: 2px 2px 7px black;
    border: chocolate 2px solid;
    padding: 5px;
    margin-right: 20px;


    height: 60%;
    color: lavender;
    padding: 5px;
  background-color: sienna;
    text-align: center;
    width: 10%;
}
@media (min-width:500px){
    .menu{
        display: none;
    }
}