*{
    padding: 0;
    margin: 0;
}
.authDiv{
    background:radial-gradient(rgb(60, 57, 75),rgb(0,0,0));
    height: 100vh;
text-align: center;

font-family: 'Lobster', Roboto;
}
.middleDiv{
   width: 60%;
 height: 56vh;
margin: auto;
background-color: #C4C4C4;
border-radius: 50px;
margin-top: 2vh;
}

.signUp{
    font-family: 'Lobster', Roboto;
    font-size: 8vh;
    color: darkgray;
    padding: 4vh;
   
    opacity: .4;
}
.inputType{
    width: 27vh;
    height: 4vh;
    background-color: rgb(118,116,127);
    color: white;
    border-radius: 12px;
    border: 1px solid grey;
}
.ButtonLogin{
    background-color:rgb(82,80,94);
    color: rgb(190,188,199);
    width: 27vh;
    text-align: center;
    
    height: 4vh;
    font-size: 1.5vh;
    margin-top: 2vh;
}

.signUpdiv{
    text-align: left;
    padding: 2vh;
    font-family: 'Lobster', roboto;
}

.AccountLogin{
    font-size: 2vh;
    color: rgb(151,142,162);
    position: relative;
    
    padding: 4vh;
    left: 0;
}
.label_Signup{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    color: darkslategrey;
}
.Authhandler{
    height: 5vh;
    padding: 0vh;
    margin: 3vh;
    width: 15vh;
    background-color:rgb(82,80,94);
    color: rgb(190,188,199);
}
.Authhandler:hover,.ButtonLogin:hover{
  color:rgb(82,80,94);
    background-color: rgb(190,188,199);

}
@media (min-width:700px){
    .inputType{
        width: 43vh;
        border-radius: 2px;
    }
    .signUpdiv{
        text-align: center;
    }
}
@media (max-width:700px){
   .middleDiv{
       border-radius: 10px;
   }
}
@media (min-width:1200px){
    .inputType{
        width: 50vh;
        height: 5vh;
    }
    .middleDiv{
      
        width: 90vh;
        
    }
    .signUpdiv{
        text-align: center;
    }
    .ButtonLogin{
        font-size: 3vh;
        height: 5vh;
        width: 50vh;
    }
   
}