.authDiv{
    background-color:#8027ea;
  
    height: 920px;
    
}
.middleDiv{
   width: 80%;
 height: 90vh;
margin: auto;
background-color: #C4C4C4;
border-radius: 50px;
margin-top: 8vh;
}

.signUp{
    position: relative;
    left: 28%; 
    font-family: Kreon;
    font-style: normal;
    
    font-size: 200%;
    
    color: #000000;
}
.name{
    position: relative;
    left: 26%;
    top: 10vh;
    font-size: 6vw;
    font-family: Kreon;
    
}
.loginpassword{
    
    font-family: Kreon;
    position: relative;
    left: 26%;
    top: 27vh;
    font-size: 190%;
    
}
.loginname{
    font-family: Kreon;
    position: relative;
    left: 26%;
    top: 15vh;
    font-size: 190%;
    font-family: Kreon;
    
}
.password{
   
    position: relative;
    left: 26%;
    top: 18vh;
    font-size: 190%;
    
}
.cpassword{
   
    position: relative;
    left: 15%;
    top: 24vh;
    font-size: 6vw;
    
}
.inputUsername{
    position: relative;
    left: 0;
    left: 9%;
    top: 15vh;
    width: 72%;
    height: 7vh;
    border-radius: 20px;
    font-family: kreon;
    font-size: 3vh;
    text-align: start;
}
.inputPassword{
    position: relative;
    left:9%;
    top: 20vh;
    width: 72%;
    height: 7vh;
    border-radius: 20px;
    font-family: kreon;
    font-size: 3vh;
    text-align: start;
}
.loginInputUsername{
    position: relative;
    left: 9%;
    top: 21vh;
    width: 72%;
    height: 7vh;
    border-radius: 20px;
    font-family: kreon;
    font-size: 3vh;
    text-align: start;
}
.loginInputPassword{
    position:relative;
    left: 9%;
    top: 28vh;
    width: 72%;
    height: 7vh;
    border-radius: 20px;
    font-family: kreon;
    font-size: 3vh;
    text-align: start;
}
.inputCpassword{
    position: relative;
    left: 9%;
    top: 27vh;
    width: 72%;
    height: 7vh;
    border-radius: 20px;
    font-family: kreon;
    font-size: 3vh;
    text-align: start;
}
.Button{
    
position: absolute;
width: 23vh;
height: 8vh;
left: 27%;
top: 78%;
background: linear-gradient(91.79deg, #8027EA 9.13%, rgba(14, 2, 28, 0.72) 96.72%);
    border-radius: 69px;
    border: black 2px solid;
    font-size: 3vh;
    font-family: kreon;
    font-weight: 900;
}
.ButtonLogin{
    
position: absolute;
width: 23vh;
height: 8vh;
left: 27%;
top: 70%;
background: linear-gradient(91.79deg, #8027EA 9.13%, rgba(14, 2, 28, 0.72) 96.72%);
    border-radius: 69px;
    border: black 2px solid;
    font-size: 3vh;
    font-family: kreon;
    font-weight: 900;
}
.Account{
    position: absolute;
    width: 71%;
    height: 73px;
    left: 20%;
    top: 93%;
    font-family: Kreon;
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    line-height: 25px;
    color: #000000;
}
.AccountLogin{
    position: absolute;
    width: 71%;
    height: 73px;
    left: 20%;
    top: 86%;
    font-family: Kreon;
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    line-height: 25px;
    color: #000000;
}
.Authhandler{
    position: absolute;
    font-family: Kreon;
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    
    width: 17vh;
    height: 5vh;
    
        background: linear-gradient(91.79deg, #8027EA 9.13%, rgba(14, 2, 28, 0.72) 96.72%);
        border-radius: 69px;
    }
@media (min-width:700px){
    .authDiv{
        height: 100%;
        width: 100%;
    }
            .loginname{
                left: 17vw;
                top: 17vh;
                font-size: 6vw;
            }
            .Account{
                top: 100vh;
            }
            .Authhandler{
                top: 0;
                left: 51%;
            }
            .loginInputUsername,.loginInputPassword{
                height: 8vh;
            }
            
            .signUp{
                left: 39%;
                font-size: 350%;
            }
            .loginpassword{
                left: 17vw;
    top: 27vh;
    font-size: 7vw;
            }
            .ButtonLogin{
                top: 81vh;
            }
            .Authhandler{
                
            width: 21vh;
            height: 8vh;
            }
            .name{
                left: 23%;
                top: 12vh;
    font-size: 6vw;
            }
            .Button{
                top: 91vh;
            }
            .password{
                left: 23%;
                top: 17vh;
                font-size: 6vw;
            }
            .cpassword{
                left: 10%;
                top: 25vh;
                font-size: 4.5vw;
            }
            .AccountLogin{
                top: 99%;
            }
}
@media (min-width:900px){
    .password,.cpassword,.name{
        top: 6vh;
    }
    .inputUsername,.inputPassword,.inputCpassword{
        top: 6vh;
        margin: 3vh;
    }
    .loginpassword,.loginname{
        top: 10vh;
    }
    .loginInputUsername,.loginInputPassword{
        top: 10vh;
        margin: 3vh;
    }
 
}
@media (min-width:1200px){
    .authDiv{
        height: 100%;
      
    }
 .loginpassword,   .loginname{
    top: 14vh;
    font-size: 5vw;
    left: 20%;
}

    .loginInputUsername,.loginInputPassword{
        top: 14vh;
        height: 8vh;
    border-radius: 46px;
    margin: 2vh;
    }
   
    .Account{
        left: 30%;
        font-size: 200%;
    }
    .AccountLogin{
        left: 30%;
        font-size: 200%;
    }
    .Authhandler{
        top: -2vh;
        left: 40%;
    
    width: 21vh;
    height: 8vh;
    }
    .middleDiv{
        height: 98vh;
        border-radius: 20px;
        width: 60%;
    }
    .signUp{
        left: 40%;
    }
    .name,.password,.cpassword{
        left: 8%;
        top: 13vh;
        font-size: 4vw;
    }
   
    .inputPassword,.inputUsername,.inputCpassword{
        left: 5%;
    top: 12vh;
    height: 8vh;
    margin: 2vh;
    }
 
    .Button{
        top: 100vh;
    }
    .Account,.AccountLogin{
top: 110vh;
    }
    
}