.navItems{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font:bolder;
    float: right;
    color: black;
    box-shadow: 6px 0px 2px black;
    border: rgb(202, 111, 46) 2px solid;
    padding: 5px;
    margin-right: 20px;
    height: 40%;
    text-align: center;
}
@media (max-width:500px){
.navItems{
    display: none;
}
}