.sidedrawer{
    
        background-color: rgba(0,0,0,0.8);
        width: 71%;
        height: 100vh;
        position: fixed;
        z-index: 1;
    }
    .imageDiv{
        width: 23vh;
        height: 18vh;
        
        position: relative;
        top: 9vh;
        left: 9vh;
        z-index: -2;
        text-align: -webkit-center;
    }
img{
    width: 32vh;
    height: 30vh;
   
}
.span{
    font-family: cursive;
    box-shadow: 6px 0px 2px black;
    /* border: rgb(202, 111, 46) 2px solid; */
    padding: 1vh;
    width: 24vh;
    margin: 2vh;
    margin-top: 5vh;
    position: relative;
    top: 12vh;
    text-align: center;
    font-size: 2.5vh;
   
}
.sidein{

    animation: easein 2s forwards;
}
.sideout{
    animation: easeout 2s forwards;
}
@keyframes easein{
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(0%);
    }
}
@keyframes easeout{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-100%);
        opacity: 0;
    }
}
@media (min-width:805px){
    .sidedrawer{display: none;}
}