*{
    margin:'0';
    padding: 0;
}
.imageDiv{
    background: url('../../../Images/contactus.jpg');
   
    background-size: 100% 45vh;
    background-attachment: fixed;
    width: 100%;
height: 45vh;
}
.lets{
    font-size: 12vw;
    z-index: 1;
    position: relative;
    top: 35%;
    font: bolder;
    font-family: monospace;
    opacity: .55;
    color: black;
}
.trans{
    text-align: center;
    width: 100%;
    height: 45vh;
    background-color: rgba(26, 110, 188, 0.34);
    position: absolute;
    top: 0vh;
}

@media(min-width:750px){
    .lets{

        font-size: 8vw;
        font: bolder;
    }
}