.outerDiv{
    background-color: white;
}

.upperDiv{
    position: relative;
    background: #5D66B9;
    height: 30vh;
    border-radius: 0 0 17vh 17vh;
    text-align: center;
    float: inline-start;
}
.back{
    position: relative;
    background: #5D66B9;
    height: 8vh;
    text-align: center;
    float: inline-end;
    width: 24%;
    left: 34%;
  
    font-family: 'Kaushan Script', cursive;
text-decoration: none;
color: white;
top: 10vh;
font-size: 4vh
;
}
.logged{
position: relative;
background: #5D66B9;
height: 1vh;

    float: inline-end;
  
 
   font-size: 4vh;
   text-decoration: none;
   color: white;
padding: 3%;
top: 22vh;
}
.bookingNotFound{
text-align: center;font-family: 'agency fb', cursive;
margin: 10vh;


}
.innerDiv{
    font-family: monospace;
    font-size:4vh;
   
    color: black;
    padding: 2%;
}
.H1{
    color: white;
    font-size: 20vw;
    padding: 4vh;
    font-family:Showcard Gothic ;
}
span{
    color: black;
}
.box{
    position: relative;
    height: 59vh;
   background-color: white;
    box-shadow: 6px 6px 54px #5D66B9;
    width: 65%;
    margin-left: 17%;
    margin-top: 27px;

}
.bottomDIv{
    margin-bottom:10px ;
}
.more{
    font-size: 3vh;
}
@media (min-width:1200px){
    
    .H1{
        padding: 0;
        font-size: 15vw;
       
    }
  
 
  .box{
    width: 40%;
    left: 0;
    margin: 3% auto;
   
    padding: 3%;
  }
}