.navItems{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bolder;
    float: right;
    /* color: black; */
    /* box-shadow: 6px 0px 2px black; */
    /* border: rgb(202, 111, 46) 2px solid; */
    padding: 1%;
    margin-right: 1vh;
    text-align: center;
    font-size: 250%;
    margin-top: 2vh;
    /* font-size: 5vh; */
    box-shadow: grey 2px 2px 6px;
}
.Signup{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bolder;
    float: right;
    /* color: black; */
    /* box-shadow: 6px 0px 2px black; */
    /* border: rgb(202, 111, 46) 2px solid; */
    padding: 1%;
    margin-right: 1vh;
    text-align: center;
    font-size: 250%;
    margin-top: 2vh;
    /* font-size: 5vh; */
    box-shadow: grey 2px 2px 6px;
}
.Signup:hover{
    font-size: 5vh;
    transition: smooth 3s;
}
@media (max-width:800px){
.navItems{
    display: none;
}
.Signup{
    font-size: 150%;
}
}
@media (min-width:900px){

.Signup,.navItems{
    padding: .5%;
    margin-right:3vh;
    text-align: center;
    font-size: 200%;
    margin-top: .25vh;
}
}