.navItems{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bolder;
    float: right;
    /* color: black; */
    /* box-shadow: 6px 0px 2px black; */
    /* border: rgb(202, 111, 46) 2px solid; */
    padding: 7px;
    margin-right: 3vh;
    text-align: center;
    font-size: 4vw;
    position: relative;
    top: 11%;
    /* font-size: 5vh; */
    box-shadow: grey 2px 2px 6px;
}
.Signup{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bolder;
    float: right;
    /* color: black; */
    /* box-shadow: 6px 0px 2px black; */
    /* border: rgb(202, 111, 46) 2px solid; */
    padding: 7px;
    margin-right: 3vh;
    text-align: center;
    font-size: 4vw;
    position: relative;
    top: 11%;
    /* font-size: 5vh; */
    box-shadow: grey 2px 2px 6px;
}
.Signup:hover{
    font-size: 5vh;
    transition: smooth 3s;
}
@media (max-width:700px){
.navItems{
    display: none;
}
.Signup{
    font-size: 7vw;
}
}