.buttonBook {
    height: 40%;
    text-align: center;
    font-size: 158%;
    position: relative;
    top: -14vh;
    background-color: rgba(0,0,0,0);
    border: 0;
    float: left;
    left: 10%;
    border: 6px solid black;
}