*{
    margin:0;
    
    padding: 0;
}
.inputDiv{
    border: black 9px solid;

    background-color: rgb(196,196,196);
    width: 77%;
   
    padding: 12px;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 6vh;
    
    font-family: 'Agency FB', cursive;
    
}
.kindly{
    position: relative;
    left: 20%;
    
    font-size: 3vw;
}
.button{
    position: relative;  
    width: 52%;
    height: 7vh;
    background-color: rgb(118,116,127);
    color: rgb(60, 57, 75);
    font-size: 2.5vh;
}
.button:hover{
    background-color:transparent;
    color: rgb(118,116,127);
    border: rgb(60, 57, 75) 3px solid;
}
label {
  
        font-weight: 900;
    
        display: flow-root;
        padding: 0;
        font-size: 150%;
    }
.bodydiv{
     background:radial-gradient(rgb(60, 57, 75),rgb(0,0,0));
     height: 100%;
     margin-top: -6vh;
}
.divisioncontact{
    position: relative;
    padding: 1vh;
    margin: 2vh;
    box-shadow: 2px 6px 10px -1vw grey;

}


.input{
    font-size: 100%;
    position: relative;
    width: 80%;
    height: 5vh;
    background-color: rgb(118,116,127);
    
}
span{
    font-size: 132%;
    color: red;
    position: relative;
    
    padding: 4px;
  
    
}

.inputFocus{
    border: brown 3px solid;
}

@media (min-width:700px){
    .inputDiv{
        width: 70%;
       
    }
    
    .input{
    
        margin: 2%;
    }
    label{
        font-size: 200%;
        
    }
    .divisioncontact{
        box-shadow: 2px 6px 10px -1vw grey;
    }
    
   
}
.h5{
    font-size: 2vh;
 font-family:"agency fb";
 color: white;
}
@media (min-width:1020px){
    .inputDiv{
        width: 60%;
      
    }
  .h5{
      font-size: 5vh;
  }
    
}
