*{
    margin:0;

    padding: 0;
}
.inputDiv{
    border: black 9px solid;
    width: 77%;
    height: 70vh;
    padding: 12px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 6vh;
    

}
.kindly{
    position: relative;
    left: 20%;
   
    font-size: 3vw;
}
.button{
    position: relative;
    top: 5vw;
    width: 52%;
    height: 7vh;
    border: black solid 3px;
    
    font-family: monospace;
    font-size: 2.5vh;
    

}

label {
  
        font-weight: 900;
        font-family: 'Gill Sans';
        margin: 0;
        display: flow-root;
        padding: 0;
        font-size: 150%;
    }

.divisioncontact{
    position: relative;
    padding: 1vh;
    margin: 2vh;
    box-shadow: 1vh 1vh 1vh -1vw grey;
}


.input{
    font-size: 100%;
    position: relative;
    width: 80%;
    height: 5vh;
      background-color: rgba(118, 116, 127, 0.6);

}
span{
    font-size: 132%;
    color: red;
    position: relative;
    
    padding: 4px;
  
    
}

.inputFocus{
    border: brown 3px solid;
}

@media (min-width:700px){
    .inputDiv{
        width: 70%;
        height: 85vh;
    }
    
    .input{
    
        margin: 2%;
    }
    label{
        font-size: 200%;
        
    }
    .divisioncontact{
        box-shadow: 3vh 3vh 2vh -1vw grey;
    }
   
}
@media (min-width:1020px){
    .inputDiv{
        width: 60%;
        height: 55vw;
    }
  
    
}
