.bodyDiv{
    width: 100%;
    height: 699px;
    position: relative;
    
    background-image: url('../../../Images/pexels-gaetan-thurin-3163927.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

